//
   Created by pdesl on 2017-11-23.

script(src='js/capture.js')
|<div class="camera">
|<video id="video">Video stream not available.</video>
|<button id="startbutton">Take photo</button>
|</div>

| <canvas id="canvas">
|  </canvas>
