extends layout

block content
  .panel.panel-default
    .panel-heading Numériser un produit
    .panel-body
      .container
        .row
          .col-md-4.col-md-offset-5
            b
              h1 Smarter Fridge
            br
            br
            br
        .row
          .col-md-9.col-md-offset-5
            a.btn.btn-success.btn-lg(href="#")
              span.glyphicon.glyphicon-barcode
              |  Numériser un code-barres
            br
            br
            br
            a.btn.btn-success.btn-lg(href="#")
              span.glyphicon.glyphicon-list-alt
              |  Numériser une facture
        .row
          .col-md-4.col-md-offset-5
