extends layout

block content
	.panel.panel-default
		.panel-heading Ajouter un produit manuellement
		.panel-body
			.container
				form.form-horizontal
					.form-group
						label.col-sm-2.control-label(for="titreInput") Titre*
						.col-sm-10
							input#titreInput.form-control(type="text", placeholder="Tomate, Carotte, ...")
					.form-group
						label.col-sm-2.control-label(for="poidsInput") Poids*
						.col-sm-10
							input#poidsInput.form-control(type="number", placeholder="Saisir le poids du produit en lb.")
					.form-group
						label.col-sm-2.control-label(for="dateInput") Date de péremption
						.col-sm-10
							input#dateInput.form-control(type="date")
					div(align="right")
						button.btn.btn-success(type="button") Ajouter
						button.btn.btn-default(type="button") Vider
