extends layout

block content
	script(src='/js/recette.js')
	.panel.panel-default
		#titre.panel-heading Mes recettes
		.panel-body
			.container
			h4 Ingrédients
			ul#listeIngredients.list-group
			h4 Préparation
			p#preparation
